<div class="row-fluid">
    <div class="sideBarContents">
        <div class="quickLinksDiv">
            <p onclick="window.location.href='index.php?module=Exactonline&amp;view=List'" id="exactonline_mainview" class="unselectedQuickLink ">
                <a class="quickLinks" href="index.php?module=Exactonline&amp;view=List"><strong>Main View</strong></a>
            </p>
            <!--<p onclick="window.location.href='index.php?module=Exactonline&amp;view=Credentail'" id="exactonline_credential" class="unselectedQuickLink ">
                <a class="quickLinks" href="index.php?module=Exactonline&amp;view=Credentail"><strong>Credentials</strong></a>
            </p>-->
            <p onclick="window.location.href='index.php?module=Exactonline&amp;view=Config'" id="exactonline_config" class="unselectedQuickLink ">
                <a class="quickLinks" href="index.php?module=Exactonline&amp;view=Config"><strong>Configuration</strong></a>
            </p>
        </div>
        <div class="clearfix">
        </div><!--
        <div class="quickWidgetContainer accordion">
            <div class="quickWidget">
                <div class="accordion-heading accordion-toggle quickWidgetHeader" data-target="#Accounts_sideBar_LBL_RECENTLY_MODIFIED" data-toggle="collapse" data-parent="#quickWidgets" data-label="LBL_RECENTLY_MODIFIED" data-widget-url="module=SalesOrder&amp;view=IndexAjax&amp;mode=showActiveRecords">
                    <span class="pull-left">
                        <img class="imageElement" data-rightimage="layouts/vlayout/skins/images/rightArrowWhite.png" data-downimage="layouts/vlayout/skins/images/downArrowWhite.png" src="layouts/vlayout/skins/images/rightArrowWhite.png">
                    </span>
                    <h5 class="title widgetTextOverflowEllipsis pull-right" title="Recently Modified">Recently Modified</h5>
                    <div class="loadingImg hide pull-right">
                        <div class="loadingWidgetMsg">
                            <strong>Loading Widget</strong>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widgetContainer accordion-body collapse" id="Accounts_sideBar_LBL_RECENTLY_MODIFIED" data-url="module=SalesOrder&amp;view=IndexAjax&amp;mode=showActiveRecords">
                </div>
            </div>
        </div>-->
    </div>
</div>
